<div class="dataTableContainer">
    <table class="dataTable">
        <thead>
            {{!-- Table Headers --}}
            <tr>
                {{#each headers}}
                <th id="{{this}}">
                    {{this}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{!-- Table contents --}}
            {{log tableData}}
            {{#each tableData}}
            <tr>
                
                
                {{#each this}}
                {{!-- {{log this}} --}}
                <td >
                    {{this}}
                </td>
                {{/each}}
                <td>
                    <button class="btn btn-danger delete-btn" > Delete </button>
                    <button class="btn btn-info update-btn"> Update</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>