<div class="poketables">
    <table border="1">
        <tbody>
            <tr>
                <th>Pokemon Name</th>
                <th>Pokedex Number</th>
                <th>Classification</th>
                <th>Type 1</th>
                <th>Type 2</th>
                <th>Abilities</th>
                <th>Generation of Origin</th>
                <th>Height in Meters</th>
                <th>Weight in Kilograms</th>
            </tr>
            <tr>
                <th>{{pokemon.name}}</th>
                <th>{{pokemon.pokedex_number}}</th>
                <th>{{pokemon.classification}}</th>
                <th>{{pokemon.type1}}</th>
                <th>{{pokemon.type2}}</th>
                <th>{{pokemon.abilities}}</th>
                <th>{{pokemon.origin_generation}}</th>
                <th>{{pokemon.height}}</th>
                <th>{{pokemon.weight}}</th>
            </tr>
        </tbody>
    </table>
</div>